@import "@/styles/global.scss";

.text {
  color: $color-white;
  font-size: 1.8rem;
  font-weight: 600;

  display: flex;
  width: 40rem;
  padding: 1.6rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
